body{
    background-image: url(https://images.unsplash.com/photo-1491466424936-e304919aada7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8&w=1000&q=80);  
    background-repeat: no-repeat;
    background-size:cover;
}

.img{
    margin-top:6%;
    display:flex;
    justify-content:space-between;
}

.card1{
    height: 500px;
    width: 325px;
    display: block;
    margin-right: 2%;
    margin-left: 10%;
    border-radius: 7px;
}

.card2{
    height: 500px;
    width: 325px;
    display: block; 
    margin-right: 2%;
    border-radius: 7px;
}

.card3{
    height: 500px;
    width: 325px;
    display: block;
    margin-right: 10%;
    border-radius: 7px;
}